@charset "UTF-8";

body{
    margin: 0;
}

header{
    background-color: blue;
    color: white;
    font: normal 12px sans-serif;
    padding: 2px;
}

h1{
    text-align: center;
}

section#tela-page{
    margin: center;
}