@charset "UTF-8";

body{
    margin: 0;
}

header{
    background-color: blue;
    color: white;
    font: normal 12px serif;
    padding: 2px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
}

section#image-principal{
    padding: 20px;
}

.image{
    display: flex;
    justify-content: center;
}

hr{
    background-color: goldenrod;
}

section#nav-bar{
    padding: 20px;
}

.nav-options{
    display: flex;
    justify-content: center;
}

.measure{
    display: inline-block;
    justify-content: center;
    text-align: center;
    height: 35px;
    width: 130px;
    padding: 0 60px;
    font: bold 30px serif;
    border-style: solid;
    border-radius: 5px;
}

.conteiner-text{
    display: flex;
    justify-content: center;
    margin: 20px;
    border-style: solid;
    border-radius: 5px;
}