@charset "UTF-8";

body{
    margin: 0;
}

header{
    background-color: blue;
    color: white;
    font: normal 12px sans-serif;
    padding: 2px;
}

h1{
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
}

.nav-options{
    display: flex;
}